<!DOCTYPE html>
<html lang="en">

<head>
    <title>H5单页面手势滑屏切换</title>
    <meta name="viewport" charset="utf-8" content="width=device-width,
    initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <link rel="stylesheet" href="/stylesheets/jiming.css">
    <script src="/jiming.js"></script>
</head>

<body>
    <div class="container">
        <div id="viewport" class="viewport">
            <div class="pageview" style="background:url('/images/background.jpg') no-repeat 0 0 ">
                <h3>页面-1</h3>
                <!-- <img style="height:100%;width:100%" src="./img/background.jpg"> -->
                <button id="testbtn" style="display:none"></button>
            </div>
            <div class="pageview" style="background:url('/images/background.jpg') no-repeat 0 0 ">
                <h3>页面-2</h3>
                <!-- <img style="height:100%;width:100%" src="./img/background.jpg"> -->
            </div>
            <!-- style="background:url('./img/background.jpg') no-repeat 0 0 " -->
            <div class="pageview" style="background:url('/images/background.jpg') no-repeat 0 0 ">
                <h3>页面-3</h3>
                <!-- <img style="height:100%;width:100%" src="./img/background.jpg"> -->
            </div>

        </div>

        <div class="gif">
            <img src="/images/1_chicken.gif">
        </div>
        <div class="gif">
            <img src="/images/1_husb.gif">
        </div>
        <div class="gif">
            <img src="/images/1_wife.gif">
        </div>
        <div class="gif">
            <img src="/images/1_follower.gif">
        </div>

      

        <div class="pagenumber">
            <div></div>
            <div></div>
            <div></div>
            <!-- <div></div> -->
            <!-- <div></div> -->
        </div>
    </div>
</body>

</html>