<!DOCTYPE html>
<html lang="en">

<head>
    <title>H5单页面手势滑屏切换</title>
    <meta name="viewport" charset="utf-8" content="width=device-width,
    initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <link rel="stylesheet" href="/stylesheets/jiming.css">
    <script src="/jiming.js"></script>
</head>

<body>
    <div class="container">
        <div id="viewport" class="viewport">


            <div class="gif" style="    top: 902px;
            right: 38px;">
                <img style="height: 100px;width: 100px;" src="/images/1_chicken.gif">
            </div>
            <div class="gif" style="top: 2319px;
            right: 0px;">
                <img style="    height: 225px;
                width: 362px;" src="/images/1_husb.gif">
            </div>
            <div class="gif" style="top: 2168px;
            right: 70px;">
                <img style="    height: 208px;
                width: 222px;" src="/images/1_wife.gif">
            </div>
            <div class="gif" style="    top: 1418px;
            left: 177px;">
                <img style="    height: 176px;
                width: 78px;" src="/images/1_follower.gif">
            </div>

            <div class="pageview" style="background:url('/images/background.jpg') no-repeat 0 0 ">
                <h3>页面-1</h3>
                <!-- <img style="height:100%;width:100%" src="./img/background.jpg"> -->
                <button id="testbtn" style="display:none"></button>
            </div>
            <div class="pageview" style="background:url('/images/background.jpg') no-repeat 0 0 ">
                <h3>页面-2</h3>
                <!-- <img style="height:100%;width:100%" src="./img/background.jpg"> -->
            </div>
            <!-- style="background:url('./img/background.jpg') no-repeat 0 0 " -->
            <div class="pageview" style="background:url('/images/background.jpg') no-repeat 0 0 ">
                <h3>页面-3</h3>
                <!-- <img style="height:100%;width:100%" src="./img/background.jpg"> -->
            </div>





            <div class="gif" style="    top: 3735px;
            right: 38px;">
                <img style="height: 100px;width: 100px;" src="/images/1_chicken.gif">
            </div>
            <div class="gif" style="top: 5152px;
            right: 0px;">
                <img style="    height: 225px;
                width: 362px;" src="/images/1_husb.gif">
            </div>
            <div class="gif" style="top: 5001px;
            right: 70px;">
                <img style="    height: 208px;
                width: 222px;" src="/images/1_wife.gif">
            </div>
            <div class="gif" style="    top: 4251px;
            left: 177px;">
                <img style="    height: 176px;
                width: 78px;" src="/images/1_follower.gif">
            </div>



            <div class="gif" style="    top: 6568px;
            right: 38px;">
                <img style="height: 100px;width: 100px;" src="/images/1_chicken.gif">
            </div>
            <div class="gif" style="top: 7985px;
            right: 0px;">
                <img style="    height: 225px;
                width: 362px;" src="/images/1_husb.gif">
            </div>
            <div class="gif" style="top: 7834px;
            right: 70px;">
                <img style="    height: 208px;
                width: 222px;" src="/images/1_wife.gif">
            </div>
            <div class="gif" style="    top: 7084px;
            left: 177px;">
                <img style="    height: 176px;
                width: 78px;" src="/images/1_follower.gif">
            </div>
            

        </div>




        <div class="pagenumber">
            <div></div>
            <div></div>
            <div></div>
            <!-- <div></div> -->
            <!-- <div></div> -->
        </div>
    </div>
</body>

</html>