<!DOCTYPE html>
<html lang="en">

<head>
    <title>国风·齐风·鸡鸣</title>
    <meta name="viewport" charset="utf-8" content="width=device-width,
    initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <link rel="stylesheet" href="/stylesheets/jiming.css">
    <script src="/jiming.js"></script>
</head>

<body>
    <div class="container">
        <button id="panelBtn" class="btn hide">

        </button>

        <div id="modal" class="modal hide">
            <button id="btnclose" class="btnclose">
                ✖
            </button>
        </div>

        <div id="viewport" class="viewport">

            <div class="loading" style="height:100vh;">

            </div>

            <div class="content">

                <div class="pageview" style="background:url('/images/bg1.jpg') no-repeat 0 0 ">
                </div>
                <div class="pageview" style="background:url('/images/bg2.jpg') no-repeat 0 0 ">
                </div>
                <div class="pageview" style="background:url('/images/bg3.jpg') no-repeat 0 0 ">
                </div>


                <div class="gif" style="top: calc(902px + 100vh);
            right: 38px;">
                    <img style="height: 100px; 
                    width: 100px;" src="/images/1_chicken.gif">
                </div>
                <div class="gif" style="top: calc(2319px + 100vh);
            right: 0px;">
                    <img style="height: 225px;
                width: 362px;" src="/images/1_husb.gif">
                </div>
                <div class="gif" style="top: calc(2168px + 100vh);
            right: 102px;">
                    <img style="height: 208px;
                width: 222px;" src="/images/1_wife.gif">
                </div>
                <div class="gif" style="top: calc(1404px + 100vh);
            left: 159px;">
                    <img style="height: 176px;
                width: 78px;" src="/images/2_follower.gif">
                </div>




                <div class="gif" style="top: calc( 3777px + 100vh);
            left:123px;">
                    <img style="height: 80px;
                width: 89px;" src="/images/2_chicken.gif">
                </div>
                <div class="gif" style="top: calc(5152px + 100vh);
            right: 0px;">
                    <img style="height: 225px;
                width: 362px;" src="/images/1_husb.gif">
                </div>
                <div class="gif" style="top: calc(5001px + 100vh);
            right: 102px;">
                    <img style="height: 208px;
                width: 222px;" src="/images/1_wife.gif">
                </div>
                <!--  <div class="gif" style="    top: calc(4251px + 100vh);
            left: 177px;">
                    <img style="    height: 176px;
                width: 78px;" src="/images/1_follower.gif">
                </div> -->



                <!-- <div class="gif" style="top: calc(6568px + 100vh);
            right: 38px;">
                    <img style="height: 100px;
                width: 100px;" src="/images/1_chicken.gif">
                </div> -->
                <div class="gif" style="top: calc(7985px + 100vh);
            right: 0px;">
                    <img style="height: 225px;
                width: 362px;" src="/images/1_husb.gif">
                </div>
                <div class="gif" style="top: calc(7834px + 100vh);
            right: 102px;">
                    <img style="height: 208px;
                width: 222px;" src="/images/1_wife.gif">
                </div>
                <div class="gif" style="top: calc(7095px + 100vh);
            left: 175px;">
                    <img style="    height: 176px;
                width: 78px;" src="/images/1_follower.gif">
                </div>




                <div id="conver_1" class="gifconver" style="top: calc(2095px + 100vh);
                right: 38px;">
                    <img class="hide" src="/images/1_wife1.png">

                    <img class="hide" src="/images/1_wife2.png">
                </div>

                <div id="conver_2" class="gifconver" style="top: calc(2438px + 100vh);
                right: 70px;">
                    <img class="hide" src="/images/1_husb1.png">

                    <img class="hide" src="/images/1_husb2.png">
                </div>




                <div id="conver_3" class="gifconver" style="top: calc(4928px + 100vh);
                right: 38px;">
                    <img class="hide" src="/images/2_wife1.png">

                    <img class="hide" src="/images/2_wife2.png">
                </div>

                <div id="conver_4" class="gifconver" style="top: calc(5271px + 100vh);
                right: 70px;">
                    <img class="hide" src="/images/2_husb1.png">

                    <img class="hide" src="/images/2_husb2.png">
                </div>




                <div id="conver_5" class="gifconver" style="top: calc(7761px + 100vh);
                right: 38px;">
                    <img class="hide" src="/images/3_wife1.png">

                    <img class="hide" src="/images/3_wife2.png">
                </div>

                <div id="conver_6" class="gifconver" style="top: calc(8094px + 100vh);
                right: 70px;">
                    <img class="hide" src="/images/3_husb1.png">

                    <img class="hide" src="/images/3_husb2.png">
                </div>




            </div>




        </div>


    </div>
</body>

</html>